
html {
    background: #005aa7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #005aa7, #fffde4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #005aa7, #fffde4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.game {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game_button {
    display: inline-block;
    text-decoration: none;
    height: 30px;
    text-align: center;
    color: black;
    line-height: 3;

}

.question {
    text-align: center;
    margin-top: 50px;
}

.question-picture {
    margin-bottom: 50px;
}

.question-answers {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.question-answer {
    flex: 50%;
    margin-bottom: 30px;
}
