{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Main title</title>
    <link type="text/css"
          rel="stylesheet"
          href="{% static 'questions/css/normalize.css' %}"/>
    <link type="text/css"
          rel="stylesheet"
          href="{% static 'questions/css/styles.css' %}"/>
</head>
<body>
{{ movies }}
<section class="question">
    <div class="question_content">
        <img class="question-picture" src="#" alt="#">
        <ul class="question-answers">
            <li class="question-answer">
                <a href="{}" >Answer 1</a>
            </li>
            <li class="question-answer">
                <a href="#" >Answer 1</a>
            </li>
            <li class="question-answer">
                <a href="#" >Answer 1</a>
            </li>
            <li class="question-answer">
                <a href="#" >Answer 1</a>
            </li>
        </ul>
    </div>
</section>


</body>
</html>